@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text&display=swap');
body{
    font-family: 'Red Hat Text', sans-serif;
    background: transparent;
    margin: 0;
    padding: 0;
    overflow-y: none;
    box-sizing: border-box;
    
}
.navbar{
    z-index: 2;
    position: fixed;
}
/* Hamburger Menu */
.hamburger{
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;
    margin-top: 1.5px;
}
.hamburger-top, .hamburger-middle, .hamburger-bottom{
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background: black;
    transform: rotate(0);
    transition: all 0.5s;
}
.hamburger-middle{
    transform: translateY(7px);
}
.hamburger-bottom{
    transform: translateY(14px);
}
.open{
    transform: rotate(90deg);
    transform: translateY(0px);
}
.open .hamburger-top{
    transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle{
    display: none;
}

.open .hamburger-bottom{
    transform: rotate(-45deg) translateY(6px) translate(-6px);
}


/* Navbar color change on scroll */


.scrolled {
    z-index: 999;
    background-color: white;
    opacity: 0.98;
    margin-top: -3px;
    transition: 0.25s ease-in-out;
}
.scrolled-nav {
    display: flex;
    padding-top: 40px;
    color: rgb(233, 76, 102);
}
.scrolled-nav a {
    display: flex;
    color: rgb(233, 76, 102);
    margin-left: 50px;
}
.scrolled-nav .scrolled-link {
    display: flex;
    color: white;
    margin-left: 20px;
}


/* Background display */

/* body{ margin:0; font:normal 75% Arial, Helvetica, sans-serif; }  */

canvas{ 
    display: block; 
    /* vertical-align: bottom;  */
} 
/* ---- particles.js container ---- */ 

#particles-js{ 
    position: relative; 
    width: 100%; 
    height: auto; 
    background-color: #232741; 
    } 
    
    /* ---- stats.js ---- */ 
    .count-particles{ background: #000022; position: absolute; top: 48px; left: 0; width: 80px; color: #13E8E9; font-size: .8em; text-align: left; text-indent: 4px; line-height: 14px; padding-bottom: 2px; font-family: Helvetica, Arial, sans-serif; font-weight: bold; 
    } 
    .js-count-particles{ font-size: 1.1em; 
    } 
    #stats, .count-particles{user-select: none; margin-top: 5px; margin-left: 5px; 
    } 
    #stats{ border-radius: 3px 3px 0 0; overflow: hidden; 
    } 

    .count-particles{ border-radius: 0 0 3px 3px; 
    }


#particles-js{
    height: auto;
    
}
.hero-box{
    display: block;
    margin: 0 auto;
    
    margin-top: 10%;
}

/* Display Video */


video{
    min-width: 50%;
    
    min-height: 50%;
    margin-left: 49vw;
    position: relative;
    
    transform: translate(-50%);
    
}

/* Parallax */

.parallax {
    
    min-height: 400px;
    margin-left: calc(50% - 50vw);
    width: 100vw;
    
}
.about-us, .trade-v{
    z-index: 1;
}

/* Trading chart */

.trading-chart{
    z-index: 99;

}

/* plans */
.bg-box{
    background-image: url('images/set.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

/* Media query */

@media only screen and (max-width: 768px){
    .navbar{
        margin-top: -10%;
        
    }
    .features{
        margin-top: 160px;
    }
    
    #particles-js{
        height: 400px;
        
    }
}
@media only screen and (max-width: 450px){
    /* Particles */
    

}




